# Terraform files
*.tfstate
*.tfstate.backup
*.tfvars
crash.log
override.tf
override.tf.json
terraform.rc
terraform.tfvars

# .terraform directory
.terraform/

# Ignore lock file
.terraform.lock.hcl

# Ignore backup files
*_backup/